<div class="search">
    <form (ngSubmit)="onSearch()">
        <input type="text" class="input-tag" [(ngModel)]="word" name="word" placeholder="Type here.." required>
        <button class="btn" type="submit">Search</button>
    </form>
</div>
<div *ngIf="data && result" class="result">
    <div class="message word-header">
        <p class="message-header word">{{result.word}}</p>
    </div>
    <br>
    <div class="message">
        <p class="message-header">Definition:</p>
        <p style="white-space:pre-wrap" class="definition">{{result.definition}}</p>    
    </div>
    <br>
    <div class="message">
        <p class="message-header">Example:</p>
        <p style="white-space:pre-wrap" class="example">{{result.example}}</p>    
    </div>
    <br>
    <button (click)="next()" class="btn" *ngIf="count !== -1">Next</button>
</div>
<!-- <div *ngIf="!(data && result) && (data !== 'undefined')" class="not-found" >No match Found.</div> -->

<div *ngIf="!status" class="not-found" >No match Found.</div>

