<p>content works!</p>
<div class="search">
    <form (ngSubmit)="onSearch()">
        <input type="text" class="input-tag" [(ngModel)]="word" name="word" required>
        <button class="btn" type="submit">Search</button>
    </form>
</div>
<div *ngIf="data && result" class="result">
    <p style="white-space:pre-wrap">{{result.definition}}</p>
    <br>
    <p style="white-space:pre-wrap">{{result.example}}<br></p>
    <button (click)="next()" class="btn" *ngIf="count !== -1">Next</button>
</div>
<div *ngIf="!(data && result) && (data !== undefined)" class="result">No match Found.</div>